body {
    font-family:"Trebuchet MS",Arial,Sans-Serif;
    line-height:1.3em;
    background:white;
    color:#553;
    text-align: justify;
    padding-top: 10px;
}
.main {
    padding-left: 10px;
    padding-right: 10px;
}
.onecol {
    margin: 0 125px;
}
.header {
    background-color: #990000; /* Old browsers */
    background-repeat: repeat-x; /* Repeat the gradient */
    background-image: -moz-linear-gradient(top, #990000 0%, #6E0000 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990000), color-stop(100%,#6E0000)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #990000 0%,#6E0000 100%); /* Chrome 10+,Safari 5.1+ */
    background-image: -o-linear-gradient(top, #990000 0%,#6E0000 100%); /* Opera 11.10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#6E0000',GradientType=0 ); /* IE6-9 */
    background-image: linear-gradient(top, #E0CF99 0%,#6E0000 100%); /* W3C */
    color:#fff;
    width:100%;
    height: 85px;
    padding:0;
    text-align:left;
    border: none;
}
.hours {
    border: 1px solid #A0926B; 
}
.hours td {
    border: 1px solid #A0926B; 
    padding: 5px;
}
div.title {
    font-family:Times,Serif;
    font-size:2.1em;
    letter-spacing:5px;
    color:#fff;
    text-decoration:none;	
    text-align:left;
}
a.sirius-links {
    color: black;
    text-decoration:underline;
}
a.sirius-links:visited {
    color: black;
    text-decoration:underline;
}
a.sirius-links:hover {
    color: #a5905B;
    text-decoration:underline;
}

.callbox {
   font-size:1.3em;
   line-height:1.5em;
   color:#553;
   text-transform:uppercase;
   align: right;
   text-align: right;
}
.emailbox {
   font-size:.95em;
   line-height:1.8em;
   color:#553;
   align: right;
   text-align: right;
}
p {
   margin:0 0 .5em 0;
   line-height:1.3em;
   color:#553;
}
h1 {
   font-size:1.2em;
   font-weight:normal;
   text-transform:uppercase;
   padding:.4em 0;  
   background:#fff;
   color:#553;
   border-bottom:1px solid #D5C08B;
   margin: 0;
}
h2 {
   font-size:1.3em;
   color:#553;
   text-transform:uppercase;
   padding:0 0 .7em .2em;
   margin: 0;
}
table {
   margin: 0;
}
td,th {
   border: none;
   padding: 0;
}

.nav-justified {
  background-color: #CAB586; 
  border: 1px solid #A0926B;
}
.nav-justified > li > a {
  margin-bottom: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #553;
  text-align: center;
  background-color: #E0CF99; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #E0CF99 0%, #CAB586 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0CF99), color-stop(100%,#CAB586)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #E0CF99 0%,#CAB586 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #E0CF99 0%,#CAB586 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0CF99', endColorstr='#CAB586',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #E0CF99 0%,#CAB586 100%); /* W3C */
}

.nav-justified > li > a:hover {
  background-color: #F5E7CD; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #F5E7CD 0%, #E0D3B3 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F5E7CD), color-stop(100%,#E0D3B3)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #F5E7CD 0%,#E0D3B3 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -o-linear-gradient(top, #F5E7CD 0%,#E0D3B3 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F5E7CD', endColorstr='#E0D3B3',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #F5E7CD 0%,#E0D3B3 100%); /* W3C */
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #F5E7CD;
  background-image: -webkit-linear-gradient(top, #F5E7CD 0%,#E0D3B3 100%); /* Chrome 10+,Safari 5.1+ */
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #A0926B;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
  }
}

/* Responsive: Portrait tablets and up */
.images {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 480px) {
  .callbox, .emailbox {
      align: right;
      text-align: right;
  }
}
@media screen and (min-width: 1200px) {
  .main {
      width: 1070px;
      margin: auto;
  }
}
