body {
    font-size:1.5em;
    background:white;
}
.main {
    padding-left: 10px;
    padding-right: 10px;
    width: 1070px;
}
.onecol {
   margin: 0 125px;
}
.header {
    width:100%;
    height: 87px;
    padding:0;
    text-align:left;
}
div.title {
    font-family:"Times New Roman",Serif;
    font-size:3em;
    letter-spacing:5px;
    text-decoration:none;	
    text-align:center;
}
.mtable {
	display: none;
}
.hours {
    border: 1px solid #A0926B; 
}
.hours td {
    border: 1px solid #A0926B; 
    padding: 5px;
}
.callbox {
   font-size:1.3em;
   line-height:1.5em;
   color:#553;
   text-transform:uppercase;
   align: right;
   text-align: right;
}
.emailbox {
   font-size:1.2em;
   line-height:1.8em;
   color:#553;
   align: right;
   text-align: right;
}
p {
   margin:0 0 .5em 0;
   line-height:1.3em;
}
h1{
   font-size:1.5em;
   font-weight:normal;
   text-transform:uppercase;
   padding:.4em 0;
   background:#ffff;
   border-bottom:1px solid #D5C08B;
   margin: 0;
}
h2{
   font-size:1.6em;
   text-transform:uppercase;
   padding:0 0 .7em .2em;
   margin: 0;
}
table {
   margin: 0;
}
td,th {
   border: none;
   padding: 0;
}
div.noprint {
   display: none;
}
.images {
    width: 100%;
    height: auto;
}
@media print {
  a[href]:after {
    content: none !important;
  }
}