div.yui-u {
     text-align:justify;
}

.yui-skin-sam .yuimenubar {
    font-size: 93%;  /* 12px */
    line-height: 2;  /* ~24px */
    *line-height: 1.9; /* For IE */
    border: none;
    border-left: solid 1px #A0926B;
   /* background:#D5C08B; */
    background: -moz-linear-gradient(top, #E0CF99, #CAB586);
    background: -webkit-gradient(linear, left top, left bottom, from(#E0CF99), to(#CAB586));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0CF99, endColorstr=#CAB586);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E0CF99, endColorstr=#CAB586)";
}


.yui-skin-sam .yuimenubarnav .yuimenubaritem {
    border-right: solid 1px #A0926B;
}

.yui-skin-sam .yuimenubaritemlabel {
    padding: 0 10px;
    color: #553;
    text-decoration: none;
    cursor: default;
    border-style: solid; 
    border-color: #A0926B; 
    border-width: 1px 0;
    border-bottom:none;
    *position: relative; /*  Necessary to get negative margins in IE. */
    margin: -1px 0; 
}

.yui-skin-sam .yuimenubaritem-selected {
    /* background: #E7DABA; */
    background: -moz-linear-gradient(top, #F5E7CD, #E0D3B3);
    background: -webkit-gradient(linear, left top, left bottom, from(#F5E7CD), to(#E0D3B3));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5E7CD, endColorstr=#E0D3B3);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5E7CD, endColorstr=#E0D3B3)";
}
