{{ define "extra" }} {{ end }}

{{ define "colone" }}

<div class="about_h">
<!-- <h1>Our Instructors</h1> -->
<!-- <br> -->
<p>
Sirius Flying is proud to offer the best instructors and staff to guide you in
your training.  For more information, CALL (650) 320-8447 or E-MAIL <a class="sirius-links"
href="mailto:john@siriusflying.com">john@siriusflying.com</a>.
</p>
<br>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>John Pyle, Owner</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="john" src="/img/bio-john.jpg">
      <a class="sirius-links" href="mailto:john@siriusflying.com">john@siriusflying.com</a>
    </div>
    <p>
      John has 18,000 hours of pilot experience.  Most of those hours were
      flying helicopters.  His helicopter pilot experience includes:
    </p>
    <ul>
      <li>Armed combat in Vietnam</li>
      <li>Venison hunting and recovery in New Zealand’s Southern Alps</li>
      <li>Commercial operations such as Agricultural application, external lifting, surveying, etc.</li>
      <li>Private fun flying</li>
    </ul>
    <p>
      But the bulk of his experience has been in training people like you to become
      helicopter pilots.  John is also a FAA Designated Pilot Examiner.  This allows
      him to administer helicopter pilot flight tests and issue pilot certificates
      and ratings.
    </p>
    <p>
      John currently charges $95 per hour for ground and flight instruction.
    </p>
  </div>

  <div class="cfi">
    <h1>Simon Watsky, CFI</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="simon" src="/img/bio-simon.jpg">
      <a class="sirius-links" href="mailto:simon@siriusflying.com">simon@siriusflying.com</a>
    </div>
    <p>
      Simon has been flying helicopters since 2008, and instructing since 2010.
      Between 2009 and 2012 he completed a three-year apprenticeship as an Airframe
      and Powerplant Mechanic, and in December 2012 he received his A&P certificate
      after a 16 hour examination.  Although he prefers flying, he views an
      understanding of the mechanical operation of aircraft to be as important as
      “cyclic and collective” skills.  From 2011-2012 he completed transition
      training, adding on airplane ratings to his helicopter certificates.  He has
      over 1,000 flight hours the vast majority of which are in helicopters.
    </p>
    <p>
      Simon currently charges $85 per hour for ground and flight instruction.
      This rate is discounted to $75/hr when purchasing blocks of 10 hours.
    </p>
  </div>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>Allan Griffin, CFI</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="allan" src="/img/bio-allan.jpg">
      <a class="sirius-links" href="mailto:allan@siriusflying.com">allan@siriusflying.com</a>
    </div>
  </div>

  <div class="cfi">
    <h1>Mark Erwin, CFI</h1>
    <br>
    <div class="imgfloat">
      <!-- <img class="images" name="mark" src="/img/bio-mark.jpg"> -->
      <a class="sirius-links" href="mailto:mark@siriusflying.com">mark@siriusflying.com</a>
    </div>
  </div>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>Dan Tzur, CFI</h1>
    <br>
    <div class="imgfloat">
      <!-- <img class="images" name="dan" src="/img/bio-dan.jpg"> -->
      <a class="sirius-links" href="mailto:dan@siriusflying.com">dan@siriusflying.com</a>
    </div>
  </div>
</div>

{{ end }}
