{% extends "onecolumn.html" %}

{% block colone %}
<h1>Our Instructors</h1>
<br>
<p>

Sirius Flying is proud to offer the best instructors and staff to guide you in
your training.  CALL (650) 320-8447 or E-MAIL <a class="sirius-links"
href="mailto:john@siriusflying.com">john@siriusflying.com</a> FOR MORE INFORMATION.

</p>
<br>
      <table border="0" cellpadding="0" cellspacing="20" width="100%">
      <tr><td width="25%"></td><td width="75%"><h1>John Pyle, Owner</h1></td></tr>
      <tr valign=top>
       <td width="25%"><a href="/about"><img name="john" width="168" src="/img/bio-john.jpg"></a></td>
       <td width="75%" align="justify" >
	 <br>
         <p>John began his flying career in 1967 flying
         helicopters as an officer in the US Army. After
         training at Ft. Wolters, Texas and Ft. Rucker,
         Alabama, he commanded gunship units with the
         First Calvary Division in combat in Viet Nam
         1967-1968.From 1968 to 1970, he was stationed at
         Ft. Bragg, North Carolina, where he commanded
         Headquarters Company, Simmons Army Airfield
         Command.</p>

         <p>John joined the Chicago Fire Department from
         1970-1972 then flew helicopters in New Zealand
         in pilot training, agricultural work, venison
         recovery and commercial lifting. In 1991, he
         began instructing in California in helicopters
         and airplanes.</p>

         <p>Since 1994, John has been an FAA Designated
         Pilot Examiner which allows him to give flight
         tests and issue pilot licenses. He has logged
         over 18,000 hours of flying.</p>
	 <p>
         There is no greater pleasure for John Pyle than
         to be in the sky sharing the joy and love of safe
         flying. <a class="sirius-links" href="mailto:john@siriusflying.com">john@siriusflying.com</a></p>
       </td>
      </tr>
      </table>
      <br>
      <br>
      <table border="0" cellpadding="0" cellspacing="20" width="100%">
      <tr><td width="25%"></td><td width="75%"><h1>Allan Griffin, CFI</h1></td></tr>
      <tr valign=top>
       <td width="25%"></td>
       <td width="75%" align="justify" >
	 <br>
         <a class="sirius-links" href="mailto:allan@siriusflying.com">allan@siriusflying.com</a>
       </td>
      </tr>
    </table>
      <br>
      <br>
      <table border="0" cellpadding="0" cellspacing="20" width="100%">
      <tr><td width="25%"></td><td width="75%"><h1>Mark Erwin, CFI</h1></td></tr>
      <tr valign=top>
       <td width="25%"></td>
       <td width="75%" align="justify" >
	 <br>
         <a class="sirius-links" href="mailto:mark@siriusflying.com">mark@siriusflying.com</a>
       </td>
      </tr>
    </table>
      <br>
      <br>
      <table border="0" cellpadding="0" cellspacing="20" width="100%">
      <tr><td width="25%"></td><td width="75%"><h1>Dan Tzur, CFI</h1></td></tr>
      <tr valign=top>
       <td width="25%"></td>
       <td width="75%" align="justify" >
	 <br>
         <a class="sirius-links" href="mailto:dan@siriusflying.com">dan@siriusflying.com</a>
       </td>
      </tr>
    </table>
      <br>
      <br>
      <table border="0" cellpadding="0" cellspacing="20" width="100%">
      <tr><td width="25%"></td><td width="75%"><h1>Simon Watsky, CFI</h1></td></tr>
      <tr valign=top>
       <td width="25%"><a href="/about"><img name="simon" width="168" src="/img/bio-simon.jpg"></a></td>
       <td width="75%" align="justify" >
  	 <br>
         <a class="sirius-links" href="mailto:simon@siriusflying.com">simon@siriusflying.com</a>
       </td>
      </tr>
    </table>
{% endblock %}
