{{ define "extra" }} {{ end }}

{{ define "colone" }}

<div class="about_h">

<h1>Sirius Flying</h1>
<br>

<p>
Sirius Flying has been located in the bay area for “X” years. Sirius
Flying has been providing quality flight instruction for over 10
years. We provide quality aircraft that are well maintained. We refer
students to highly qualified Certified Flight Instructors with vast
experiences and qualifications.
</p>

<p>For more information, CALL (530) 628-7245 or
E-MAIL <a class="sirius-links"
href="mailto:info@siriusflying.com">info@siriusflying.com</a>.</p>

<h1>Owners</h1>
<br>

<p>Chris and Jackie Gaertner have been in aviation for “X” amount of
years, are really nice people, and have experience with business in
aviation. They also operate <a class="sirius-links"
href="http://www.wingsandwheelsllc.com/">Wings and Wheels, LLC</a> out
of Menlo Park, CA.</p>

<h1>Staff</h1>
<br>

<p><b>Accountant</b></p>
<p>Jackie Gaertner</p>
<p>Has extensive experience with managing an aviation business’ finances big and small.</p>

<p><b>Director of Operations</b></p>
<p>Rendell Veldstra</p>
<p>New to the position and full of moxie, Rendell has an understanding
of the day-to-day operational challenges with his experience as a
pilot. As a pilot, he has often been the face of the company personal
customer interaction and has experience interfacing with the client to
resolve any problem, issues, or concerns clients may have</p>


<p><b>Instructor emeritus</b></p>
<p>John Pyle</p>
<p>John has an impressive career expanding over 2 decades and 20,000
hrs of flying and been in aviation most of his life.</p>

<h1>Pilots</h1>
<br>
</p>
<br>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>Gary Levin</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="john" src="/img/bio-avatar.png">
      <!-- <a class="sirius-links" href="mailto:info@siriusflying.com">info@siriusflying.com</a> -->
    </div>
    <div class="textfloat">
      Gary has over 4000 hours of helicopter flight time in
      instruction and commercial work. Although he works full time as
      an Air Traffic Controller (and we won’t hold that against him),
      His controller experience will provide students with a unique
      perspective of the air traffic system that they will interact
      with.  His helicopter flying experience includes:
      <ul>
        <li>Flight instruction</li>
        <li>Corporate charters in the New York Metro area</li>
        <li>Offshore oil support in the Gulf of Mexico</li>
        <li>Electronic news gathering</li>
        <li>Tours in Alaska</li>
      </ul>
    </div>
    <p class="ppbottom">
    </p>
  </div>
  <div class="cfi">
    <h1>Chris Gaertner</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="john" src="/img/bio-avatar.png">
      <!-- <a class="sirius-links" href="mailto:info@siriusflying.com">info@siriusflying.com</a> -->
    </div>
    <div class="textfloat">    
    </div>
    <p class="ppbottom">
    </p>
  </div>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>Allan Griffin, CFI</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="allan" src="/img/bio-allan.jpg">
    </div>
    <div class="textfloat">    
      <p>
        Allan has 4,000 hours of pilot experience flying helicopters. His Helicopter pilot experience includes:
      </p>
      <ul>
        <li>Flying Cobras and Huey’s in the U.S. Army</li>
        <li>Emergency Medical Service, Air Ambulance</li>
        <li>Marijuana Eradication and Sheriff’s Patrol</li>
        <li>Frost protection of crops</li>
        <li>Photo Flights</li>
      </ul>
    </div>
    <p class="ppbottom"> 
      The majority of his flight time was acquired instructing students in the fine
      art of controlling the helicopter in a safe and professional manner.
    </p>
  </div>
  <div class="cfi">
    <h1>Arvindh Krishnaswamy</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="john" src="/img/bio-avatar.png">
      <!-- <a class="sirius-links" href="mailto:info@siriusflying.com">info@siriusflying.com</a> -->
    </div>
    <div class="textfloat">
      Arvindh has been flying since 1998, and has over 1200 hours of
      flying and teaching experience in helicopters and airplanes. He
      enjoys teaching both basic VFR skills to beginners as well as
      advanced IFR skills in technically advanced aircraft to more
      seasoned pilots. His teaching style emphasizes developing a deep
      knowledge of flight and safety principles and maintaining very
      high standards in proficiency.
    </div>
    <p class="ppbottom">
    </p>
  </div>
</div>

<div class="cfi_row">
  <div class="cfi">
    <h1>Dan Tzur, CFI</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="dan" src="/img/bio-dan.jpg">
    </div>
    <div class="textfloat">    
      <p>
        Dan has over 2,400 hours of flying. He has experience with a wide range of aircraft:
      </p>
      <ul>
        <li>Helicopters.</li>
        <li>Fixed wing aircraft including gliders, ultra-lights, taildraggers, and multi-engine airplanes.</li>
      </ul>
      </div>
    <p class="ppbottom">
      Additionally, Dan has experience with a wide range of types of flight, including
      aerobatics, formation flying, off-airport operations, and ferry flights.  Dan’s
      experience combined with his technical background allows him to contribute deep
      understanding of the flight environment as well as the theory of flight, on top
      of the cyclic and collective flying skills.  Dan provides instrument training in
      both helicopters and airplanes, and specializes in technically advanced aircraft
      (“glass cockpit” aircraft – like our Raven II).
      </p>
  </div>
  <div class="cfi">
    <h1>Rendell Veldstra</h1>
    <br>
    <div class="imgfloat">
      <img class="images" name="john" src="/img/bio-avatar.png">
      <!-- <a class="sirius-links" href="mailto:info@siriusflying.com">info@siriusflying.com</a> -->
    </div>
    <div class="textfloat">
      He is a Certified Flight Instructor – Instrument and has 3 years
      flying in the commercial world with +1,100 hours rotorcraft. He
      is infatuated with helicopters and enjoys sharing his passion
      with others. He has flown in diverse situations such as high
      altitude for training, swamp areas of the south of Louisiana, to
      the dense urban jungles of Los Angeles. His experience includes:
      <ul>
        <li>Helicopter flight training</li>
        <li>Tour</li>
        <li>Areal Photography</li>
        <li>Charter</li>
      </ul>

    </div>
    <p class="ppbottom">
    </p>
  </div>
</div>

{{ end }}
