{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/54L-right-side.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-horizon-1.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-tail.jpg"></a>

{{ end }}

{{ define "coltwo" }}
<h1>Commercial Services</h1>
<br>

<p>Sirius Flying can provide the aircraft you need at the affordable
price you want. We recommend from our pool of independent Pilot
Contractors, which have the experience you require and desire.</p>

<h1>Part 91</h1>
<br>
<ul>
<li>Student Instruction</li>
<li>Aerial Photography</li>
<li>Survey Flights</li>
<li>Ferry Flights</li>
<li>Pipeline Patrol</li>
<li>Powerline Patrol</li>
</ul>

<h1>Part 135</h1>
<br>

<ul>
<li>Charters coming soon</li>
<li>Tours coming soon</li>
</ul>

{{ end }}

{{ define "colthree" }}{{ end }}

