{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/54L-right-side.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-horizon-1.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-tail.jpg"></a>

{{ end }}

{{ define "coltwo" }}
<h1>Commercial Services</h1>
<br>

<p>
Sirius Flying can provide the aircraft you need at the affordable
price you want. Based off the nature of your requested work, we have a
selection of independent Pilot Contractors, who have the experience
you require.
</p>

<h1>Part 91</h1>
<br>
<ul>
<li class="padded">Agricultural drying and Frost control</li>
<li class="padded">Aerial Photography</li>
<li class="padded">Survey Flights</li>
<li class="padded">Ferry Flights</li>
<li class="padded">Pipeline Patrol</li>
<li class="padded">Powerline Patrol</li>
</ul>

<h1>Part 135</h1>
<br>

<ul>
<li class="padded"><i>Charters coming soon</i></li>
<li class="padded"><i>Tours coming soon</i></li>
</ul>

{{ end }}

{{ define "colthree" }}{{ end }}

