{% extends "threecolumn.html" %}

{% block colone  %}
<a href="/contact"><img width="240" src="/img/PA13411148063_med.jpg"></a>
<br><br>
<a href="http://skyvector.com/?ll=37.461111111,-122.115055556&chart=127&zoom=3" target="_"><img width="240" src="/img/terminal.jpg"></a>
<br><br>
<a href="http://skyvector.com/airport/PAO/Palo-Alto-Arpt-of-Santa-Clara-Co-Airport" target="_"><img width="240" src="/img/PAAirport-arial.gif"></a>
{% endblock %}

{% block coltwo %}
<h1>Palo Alto Airport</h1>
<br>
Sirius Flying LLC <br />
1903 Embarcadero Road <br />
Palo Alto, CA 94303
<br>
<br>

<iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1903+Embarcadero+Road,+Palo+Alto,+CA&amp;sll=37.794576,-122.396655&amp;sspn=0.022314,0.039096&amp;ie=UTF8&amp;hq=&amp;hnear=1903+Embarcadero+Rd,+Palo+Alto,+Santa+Clara,+California+94303&amp;ll=37.453739,-122.114325&amp;spn=0.02705,0.04283&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1903+Embarcadero+Road,+Palo+Alto,+CA&amp;sll=37.794576,-122.396655&amp;sspn=0.022314,0.039096&amp;ie=UTF8&amp;hq=&amp;hnear=1903+Embarcadero+Rd,+Palo+Alto,+Santa+Clara,+California+94303&amp;ll=37.453739,-122.114325&amp;spn=0.02705,0.04283&amp;z=14" style="color:#0000FF;text-align:left" target="_">View Larger Map</a></small>

{% endblock %}
