{% extends "threecolumn.html" %}

{% block colone %}
<a href="/"><img width="230" src="/img/88S-takeoff.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/HAF-s.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/R22-cockpitview.jpg"></a>
{% endblock %}

{% block coltwo %}
<h1>Discovery Flight</h1>
<br>
<p>
The Discovery Flight Lesson is a 40 minute flight in the R44 Raven II helicopter
preceded by a half-hour safety briefing.  Please allow 2 hours total to include
all the ground time.
</p>

<p>
The flight includes some straight-and-level instruction as you fly across the
San Francisco Bay to a beautiful area of hills and valleys.  There, your
instructor pilot will demonstrate off-airport operations and on the way back,
you will experience a gentle auto-rotative glide.  Returning to Palo Alto, he
will spend the rest of the time familiarizing you with hovering the helicopter.
During much of the flight you will be allowed to use individual controls.
</p>

<p>
Another person (or 2) may fly with us to observe, if you wish.  
</p>

<h1>Reserve a flight</h1>
<br>
<p> This is a great cost-effective opportunity for those who are
still determining whether to pursue helicopter training or just
want to experience being at the controls of a helicopter.
</p>
<p> 
Call (650) 320-8447 to set up a flight time.
</p>
{% endblock %}
