{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/88S-takeoff.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/HAF-s.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-cockpitview.jpg"></a>
{{ end }}

{{ define "coltwo" }}
<h1>Discovery Flight</h1>
<br>

<p>
The Discovery Flight is 45 minutes of flight instruction preceded by a half-hour
safety briefing.
</p>

<p>
During the flight portion, you will control the heading and speed of the
helicopter as it crosses the bay en-route to a beautiful area north of Calaveras
Reservoir.  There, I will demonstrate off-airport operations and autorotation
(the helicopter glide).
</p>

<p>
Returning to Palo Alto, we will spend the rest of the time learning how to hover
the helicopter 5 feet above the ground.  The flight is actual training which can
be credited towards a pilot's certificate.  We will issue a starter log-book
with an official record of the flight.
</p>

<p>
You may invite one or two observers to ride along.
</p>

{{ end }}

{{ define "colthree" }}{{ end }}
