{% extends "threecolumn.html" %}

{% block colone %}
<a href="/"><img width="230" src="/img/DSC00094-1.JPG"></a>
<br><br>
<a href="/"><img width="230" src="/img/HAF-s.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/R22-cockpitview.jpg"></a>
{% endblock %}

{% block coltwo %}
<h1>Discovery Flight</h1>
<br>
<p>Our discovery flight consists of an affordable and fun
introduction to helicopters and helicopter flight training. This
is an excellent adventure for yourself or as a gift for someone
wanting to experience the joy of flying helicopters.
</p>
<p>
You will spend 30 minutes with an instructor before the flight to
learn about helicopter characteristics and flight controls. Then,
we'll spend 45 minutes in the air, where you will be at the
controls during most of the flight. If you are feeling adventurous
that day, we'll also introduce you to helicopter autorotations
performed by the instructor, or take you to the foothills for
off airport operations.
</p>
<p>
After the flight, we'll spend another 30 minutes to answer any
question you may have about the flight or the program.  There is
no obligation for you to continue lessons, but if you wish to
pursue a rating, the actual flying time accumulated during the
discovery flight is applicable as an introductory lesson toward
the rating you pursue and you will receive a logbook in which
the flight is recorded.
</p>
<h1>Reserve a flight</h1>
<br>
<p> This is a great cost-effective opportunity for those who are
still determining whether to pursue helicopter training or just
want to experience being at the controls of a helicopter.
</p>
<p> 
Call (650) 320-8447 to set up a flight time.
</p>
<br>
<table cellpadding="20" align="center" border="1" bordercolor="#840000" bgcolor="#E7DABA" width="50%">
<tr><td align="center" colspan="2" height="35"><b><font size="4">Discovery Flight Costs</font></b></td></tr>
<tr><td align="center" height="35"><b><font size="3">R22</font></b></td><td align="center"><b><font size="3">R44</font></b></td></tr>
<tr><td align="center" height="35"><b>$190</b></td><td align="center"><b>$290</b></td></tr>
</table>
{% endblock %}

{% block colthree %}
<p>
<div id="cbox" align="right">
CALL (650) 320-8447<br>
<span style="font-size:70%">FOR MORE INFORMATION</span>
</div>
{% endblock %}
