{% extends "threecolumn.html" %}

{% block extra %} 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="Language" content="English" /> 
<meta name="revisit-after" content="7 days" /> 
<meta name="description" content="Bay Area helicopter training and helicopter rental services. Please call 650-320-8447." /> 
<meta name="keywords" content="Sirius Flying, Helicopter, Helicopter training, Helicopter rental, Bay Area, Silicon Valley, Palo Alto" />

{% endblock %}

{% block colone %}
<a href="/"><img width="230" src="/img/animated-s.gif"></a>
<br><br>
<a href="/"><img width="230" src="/img/DSC00078-2.JPG"></a>
<br><br>
<a href="/"><img width="230" src="/img/DSC00199-1.JPG"></a>
{% endblock %}

{% block coltwo %}
<h1>Sirius Flying, LLC</h1>
<br>
<p> Sirius Flying, LLC is committed to providing difinitive
helicopter flight training and rental services to recreational and
professional pilots. Our instructors are all high-time certified
flight instructors who consistently surpass FAA standards and
our chief pilot is the FAA designated pilot examiner (DPE) for
the San Jose area.
</p>
<h1>Come fly with us!</h1>
<br>
<p>
If you are looking to learn how to fly helicopters, look no
further. We offer a range of flight training options taylored to
your individual goals, experience and ability. Whether you are
just starting in aviation or adding a type or instrument rating,
Sirius Flying LLC will train you to the highest level of competence
and safety whilst you experience the joy of piloting helicopters.
</p>
<p>
Our instructors provide comprehensive FAA Part 61 helicopter
flight training for private pilot and instrument pilot ratings.
</p>
<h1>Explore The Bay Area By Air</h1>
<br>
<p> We are located in Palo Alto, the center of Silicon Valley,
with convenient access north toward San Francisco or south toward
Monterey. The Bay Area also offers several 4000 foot mountains,
exquisite coastline and secluded landscapes for off-airport
training and adventures.
</p>
{% endblock %}

{% block colthree %}
<p>
<div id="cbox" align="right">
CALL (650) 320-8447<br>
<span style="font-size:70%">FOR MORE INFORMATION</span>
</div>
{% endblock %}

