{% extends "threecolumn.html" %}

{% block extra %} 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="Language" content="English" /> 
<meta name="revisit-after" content="7 days" /> 
<meta name="description" content="Bay Area helicopter training and helicopter rental services. Please call 650-320-8447." /> 
<meta name="keywords" content="Sirius Flying, Helicopter, Helicopter training, Helicopter rental, Bay Area, Silicon Valley, Palo Alto" />

{% endblock %}

{% block colone %}
<a href="/"><img width="230" src="/img/animated-s.gif"></a>
<br><br>
<a href="/"><img width="230" src="/img/4EP.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/88S-cockpit.jpg"></a>
{% endblock %}

{% block coltwo %}
<h1>Sirius Flying</h1>
<br>
<p>Sirius Flying provides helicopter flight training and rental
services to people who wish to fly for their own pleasure or
business.  Our instructors are experienced professional pilots.  The
Chief Pilot, John Pyle, is also an FAA Designated Pilot Examiner
(DPE).

</p>
<h1>Come fly with us!</h1>
<br>
<p>
If you are looking to learn how to fly helicopters, look no
further. We offer a range of flight training options tailored to
your individual goals, experience and ability. Whether you are
just starting in aviation or adding a type or instrument rating,
Sirius Flying will train you to the highest level of competence
and safety whilst you experience the joy of piloting helicopters.
</p>
<p>
Our instructors provide comprehensive FAA Part 61 helicopter
flight training for private pilot and instrument pilot ratings.
</p>
<h1>Explore The Bay Area By Air</h1>
<br>
<p>We are located at Palo Alto Airport, in California's San Francisco
Bay Area.  The Bay Areas offers beautiful mountains, valleys,
coast-line and multiple airports that facilitate comprehensive and
exciting pilot training.  It is amazing and fun to fly here.
</p>
{% endblock %}
