
{{ define "extra" }} 

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="Language" content="English" /> 
<meta name="revisit-after" content="7 days" /> 
<meta name="description" content="Bay Area helicopter training and helicopter rental services. Please call 650-320-8447." /> 
<meta name="keywords" content="Sirius Flying, Helicopter, Helicopter training, Helicopter rental, Bay Area, Silicon Valley, Palo Alto" />

{{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/animated-s.gif"></a>
<br><br>
<a href="#"><img class="images" src="/img/4EP.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-cockpit-1.jpg"></a>
{{ end }}

{{ define "coltwo" }}
<h1>New Incredibly Stable Helicopter Flight</h1>
<br>
<p>
Our Genesys Stability Augmentation System gives you the pleasure of helicopter flight with significantly reduced work load.
</p>
<p>
You train faster, fly safer and enjoy more.
</p>
<p>
Schedule a flight with SAS today!
</p>
<h1>Sirius Flying</h1>
<br>
<p>
Sirius Flying offers busy people the chance to <b>ESCAPE</b>.  While you are
flying a helicopter, you are totally involved in the most awesome and demanding
experience you will ever have.  You will not, cannot, think about your normal
work while you are flying a helicopter.
</p>

<p>
You will fly a brand new helicopter, with state-of-the-art equipment.  But, your
initial instructor, John Pyle, is not brand new.  His flight hour experience (in
five figures) includes armed combat, mountain hunting and agricultural flying.
Most importantly he has taught hundreds of people like you to fly helicopters.
</p>

<p>
In addition to being your first instructor, John is the local FAA helicopter
pilot examiner.  That means that he can administer the flight test for issue of
your Pilot Certificate.  You will be able to select from several excellent
contract instructors to give your final training to prepare you for your flight
test.
</p>


<h1>Explore The Bay Area By Air</h1>
<br>
<p>We are located at Palo Alto Airport, in California's San Francisco
Bay Area.  The Bay Areas offers beautiful mountains, valleys,
coast-line and multiple airports that facilitate comprehensive and
exciting pilot training.  It is amazing and fun to fly here.
</p>

<h1>Training and Rental Only</h1>
<br>
<p>
Sirius flying offers flight training and rental <i>ONLY</i>.  We never cancel
a training or rental flight to do commercial work.
</p>
{{ end }}

{{ define "colthree" }}{{ end }}
