{% extends "threecolumn.html" %}

{% block colone %}
<a href="/"><img width="230" src="/img/88S-in-flight.gif"></a>
<br><br>
<a href="/"><img width="230" src="/img/DSC00220-1.JPG"></a>
<br><br>
<a href="/"><img width="230" src="/img/88S-off-airport.jpg"></a>
{% endblock %}

{% block coltwo %}

<h1>Helicopter Rental</h1>
<br>
<p>
Our fleet consists of R22 and R44 helicopters. Sirius Flying
LLC is the only helicopter flight operation in the Bay Area that
grants rental privileges in the Robinson R44 Raven II.
</p>
<p>If you hold a Rotorcraft-Helicopter license issued by the FAA,
you may rent a helicopter from us after a thorough check-out
procedure by our chief flight instructor.  Check-out requirements
are determined on an individual basis according the individual's
background, experience and state of currency and proficiency.
</p>
<p>
As a renter, you are required to stay current by flying at least
twice every thirty days and you must complete a recurrency
check every three months.  In addition, we require that all
licensed pilots renting with us attend the <a class="sirius-links"
href="http://www.robinsonheli.com/rhc_pilots_safety_course.html"
target="_">ROBINSON FLIGHT INSTRUCTOR SAFETY COURSE</a> once
every two years.
</p>
<p>We are committed to your continued proficiency and pilot
safety, so you can spend more time enjoying time in the air;
alone or with your passengers.
</p>
{% endblock %}

{% block colthree %}
<p>
<div id="cbox" align="right">
CALL (650) 320-8447<br>
<span style="font-size:70%">FOR MORE INFORMATION</span>
</div>
{% endblock %}

