{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/4CR-left-side.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/DSC00220-1.JPG"></a>
<br><br>
<a href="#"><img class="images" src="/img/88S-off-airport.jpg"></a>
{{ end }}

{{ define "coltwo" }}
<h1>Helicopter Rental</h1>
<br>
<p>
As a student or graduate of Sirius Flying training, our helicopters are
available for you to rent.  You will need to meet applicable FAA and Sirius
Flying standards for the particular type of rental.  For example, a local solo
flight will have different requirements from a full-passenger flight to Tahoe.
</p>

<p>
We are committed to your continued proficiency and pilot safety, so you can
spend more time enjoying time in the air; alone or with your passengers.
</p>
<h1>AVAILABILITY</h1>
<br>
<p>
Helicopter Rental is available Friday through Tuesday and is <i>not</i>
available on Wednesday or Thursday.
</p>
<p>
Rental hours are as follows:
</p>
<p>
<table class="hours">
<tr>
  <td><strong>Time</strong></td>
  <td><strong>Hours</strong></td>
</tr>
<tr>
  <td>Pacific Standard Time (PST)</td>
  <td>7:00AM - 4:00PM</td>
</tr>
<tr>
  <td>Pacific Daylight Time (PDT)</td>
  <td>10:00AM - 7:00PM</td>
</tr>
</table>
</p>
{{ end }}

{{ define "colthree" }}{{ end }}

