{% extends "base.html" %}
{% block title %}Sirius Flying LLC{% endblock %}

{% block css %}
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="/build/yui/yui-min.js"></script>
<script type="text/javascript">
    YUI({
        modules: {
            "node-menunav-core-css": {
                type: "css",
                path: "node-menunav/assets/node-menunav-core.css"
            },
            "siriusnavskin": {
                type: "css",
                path: "assets/node-menunav/menu.css",
                supersedes: ['skin-sam-node-menunav']
            }
        }
    }).use('node-menunav', "node-menunav-core-css", "siriusnavskin", function(Y, result) {
        var menu = Y.one("#menu");
        menu.plug(Y.Plugin.NodeMenuNav, { autoSubmenuDisplay: false, mouseOutHideDelay: 0 });
        menu.get("ownerDocument").get("documentElement").removeClass("yui3-loading");
    });
</script>
{% endblock %}


{% block header %}
<table id="htable">
<tr>
  <td width="5%"></td>
  <td width="90%">
   <div class="title">
       SIRIUS FLYING <span style="font-size:60%">LLC</span>
    </div>
  </td>
</tr>
</table>
<table id="mtable">
<tr>
  <td width="15%"></td>
  <td width="85%">
<div id="menu" class="yui3-menu yui3-menu-horizontal">
   <div class="yui3-menu-content">
      <ul>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/">Home</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/discovery">Discovery Flight</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/training">Flight Training</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/rental">Helicopter Rental</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/about">About Us</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="/contact">Contact Us</a></li>
         <li class="yui3-menuitem"><a class="yui3-menuitem-content" href="http://wwww.schedulepointe.com" target="_">Online Scheduling</a></li>
      </ul>
   </div>
  </td>
</tr>
</table>
<br>
{% endblock %}

{% block footer %}
<div class="noprint" id="ft" align="center">
<br>
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td width="80%">
        <small>
        {{long_name}} &copy; 2011, 2012. All rights reserved.&nbsp;
        <a class="sirius-links" href="/">Home</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/discovery">Discovery Flight</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/training">Flight Training</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/rental">Helicopter Rental</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/about">About Us</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/contact">Contact Us</a>&nbsp;&nbsp;
        <a class="sirius-links" href="http://www.schedulepointe.com" target="_">Online Scheduling</a>
        </small>
    </td>
    <td width="20%" align="right">
    </td>
   </tr>
   </table>
</div>
{% endblock %}

