
{{ define "title" }}Sirius Flying{{ end }}

{{ define "css" }}
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
{{ end }}

{{ define "js" }}
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
{{ end }}


{{ define "header" }}
<div>
  <table class="header">
    <tr>
      <td width="5%"></td>
      <td width="90%">
        <div class="title">
          SIRIUS FLYING
        </div>
      </td>
    </tr>
  </table>
  <div class="noprint">
    <ul class="nav nav-justified">
      <li {{.Home}} ><a href="/">Home</a></li>
      <li {{.Discovery}} ><a href="/discovery">Discovery Flight</a></li>
      <li {{.Training}} ><a href="/training">Flight Training</a></li>
      <li {{.Rental}} ><a href="/rental">Helicopter Rentals</a></li>
      <li {{.About}} ><a href="/about">About Us</a></li>
      <li {{.Contact}} ><a href="/contact">Contact Us</a></li>
      <li><a href="http://www.schedulepointe.com" target="_">Online Scheduling</a></li>
    </ul>
  </div>
</div>
<br>
{{ end }}

{{ define "footer" }}
<div class="noprint" id="ft" align="center">
<br>
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr>
    <td width="100%">
        <small>
        &copy; 2014 PYLE AVIATION, LLC. All rights reserved.&nbsp;
        <a class="sirius-links" href="/">Home</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/discovery">Discovery Flight</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/training">Flight Training</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/rental">Helicopter Rental</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/about">About Us</a>&nbsp;&nbsp;
        <a class="sirius-links" href="/contact">Contact Us</a>&nbsp;&nbsp;
        <a class="sirius-links" href="http://www.schedulepointe.com" target="_">Online Scheduling</a>
        </small>
    </td>
   </tr>
   </table>
</div>
{{ end }}

