{% extends "site.html" %}

{% block content %}
<div class="yui3-g">
   <div class="yui3-u" id="left">
      {% block colone %}{% endblock %}
   </div>
   <div class="yui3-u" id="center">
      <div id="center-block">
         {% block coltwo %}{% endblock %}
      </div>
   </div>
   <div class="yui3-u" id="right">
      {% block colthree %}{% endblock %}
       <div id="cbox">
	  CALL (650) 320-8447<br>
          <span style="font-size:70%">OR E-MAIL <a class="sirius-links" href="mailto:john@siriusflying.com">John Pyle</a><br>
	  FOR MORE INFORMATION<br></span>
       </div>
   </div>
</div>
{% endblock %}

