{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/54L-pinnacle.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-cockpit-2.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/4CR-4EP.jpg"></a>
{{ end }}

{{ define "coltwo" }}
<h1>Private Pilot Certificate</h1>
<br>

<p>
The goal is the FAA Private Pilot Certificate.  This is like an automobile
license that allows you to carry passengers.
</p>

<p>
Your initial instructor is John Pyle.  He has wide experience in military and
commercial helicopter flying.  But the bulk of his flying has been training
people like you to fly.
</p>

<p>
John is also the FAA Pilot Examiner who can administer your final flight test
and issue your Private Pilot Certificate.  Your later training in preparation
for that test will be with another flight instructor.  You have your choice of
several excellent contract flight instructors.
</p>

<h1>Advanced Pilot Certificates and Ratings</h1>
<br>
<p>
Our state-of-the-art “glass cockpit” instrument equipped Raven II helicopter is
well suited for training for the Instrument Helicopter rating and the Commercial
Pilot Certificate.  We can even train you to the Airline Transport Pilot
standard if you wish.  

<h1>Equipment</h1>
<br>
<p>
Our R44 helicopters were manufactured in 2013.
</p>

{{ end }}

{{ define "colthree" }}
<div id="cbox">
<a href="http://skyvector.com/?ll=37.461111111,-122.115055556&chart=127&zoom=3" target="_"><img class="images" src="/img/terminal.jpg"></a>
</div>
<p>
{{ end }}

