{% extends "threecolumn.html" %}

{% block colone %}
<a href="/"><img width="230" src="/img/88S-w-john.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/0SH-overhead-ramp.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/88S-off-airport.jpg"></a>
<br><br>
<a href="/"><img width="230" src="/img/88S-salt-pond.jpg"></a>
{% endblock %}

{% block coltwo %}
<h1>About our program</h1>
<br>
<p> 
Sirius Flying LLC provides one-on-one flight and ground training tailored to
each individual trainee pilot with emphasis on training busy professionals who
demand high standards of experience, professionalism, integrity and
efficiency.
</p>

<p> 
We extend the same high standards of instruction to all trainee pilots,
whether pursuing a personal goal of becoming a private helicopter pilot or an
instrument rated pilot.
</p>
<p> 
Our training allows trainee pilots to enjoy their instructor's undivided
attention while having the freedom to set their own type of training schedule
and progress at a pace consistent with their individual goals.
</p>
<p> We exclusively use <a class="sirius-links"
href="http://www.robinsonheli.com" target="_">Robinson
helicopters</a> because they are fast, comfortable, and extremely
reliable.  Those traits have made Robinson helicopters the most
popular training and personal use helicopters in the world.
Because of their versatility and low operating cost, Robinson
helicopters are an extremely popular choice with private helicopter
owners, which many of our trainee pilots aspire to become.
</p>
<p> 
Through our close association with <a class="sirius-links"
href="http://www.leadingedgeavn.com" target="_">Leading Edge Aviation, Inc.</a>, we can
assist our trainee pilots in their goal to become Robinson helicopter owners.
We also coordinate pilot training to coincide with the delivery of a trainee
pilot's new personal helicopter.
</p>
<h1>Private Pilot License</h1>
<br>
<p>To obtain a helicopter private pilot certificate, the FAA
requires certain minimum requirements be met. </p>
<div id="lbox">
<ul>
<li>You must be at least 17 years of age;</li>
<li>You must obtain a FAA medical certificate;;</li>
<li>Pass an FAA administered written test on aeroaeronautical knowlege;</li>
<li>Log at least 40 hours of flight time with at least 20 hours
of flight training from and authorized flight instructor and at
least 10 hours of solo flight; </li>
<li>Pass an FAA administered oral and flight test;</li>
</ul>
</div>
<p>
The details of each requirement are specified, here,  in the
Federal Aviation Regulations
<a class="sirius-links" href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&sid=40760189a03dfea0b501608f33820a45&rgn=div5&view=text&node=14:2.0.1.1.2&idno=14#14:2.0.1.1.2.5" target="_blank"> FAR 14 CFR Part 61, Subpart E</a>.
</p>
<h1>Instrument Rating</h1>
<br>
<p>An instrument rating allows you to fly when weather conditions
require Instrument Flight Rules. The detailed requirements are
contained in the Federal Aviation Regulations
<a class="sirius-links" href="http://ecfr.gpoaccess.gov/cgi/t/text/text-idx?c=ecfr&sid=40760189a03dfea0b501608f33820a45&rgn=div5&view=text&node=14:2.0.1.1.2&idno=14#14:2.0.1.1.2.2.1.4" target="_blank"> FAR 14 CFR Part 61, Subpart B &#167;&nbsp;61.65</a>.
{% endblock %}

{% block colthree %}
<p>
<div id="cbox" align="right">
CALL (650) 320-8447<br>
<span style="font-size:70%">FOR MORE INFORMATION</span>
</div>
<br>
<a href="http://skyvector.com/?ll=37.461111111,-122.115055556&chart=127&zoom=3" target="_"><img align="right" width="230" src="/img/terminal.jpg"></a>
{% endblock %}

