{{ define "extra" }} {{ end }}

{{ define "colone" }}
<a href="#"><img class="images" src="/img/54L-pinnacle.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-cockpit-2.jpg"></a>
<br><br>
<a href="#"><img class="images" src="/img/54L-ramp.jpg"></a>
{{ end }}

{{ define "coltwo" }}

<h1>Training in Certificates and Ratings offered</h1>
<br>
<ul>
<li class="padded"><b>Private</b> - The private certificate is one of
your first gate ways or “drivers licenses” to the sky. You will learn
the fundamentals of helicopters, aviation, safety, confidence, and
pilot competency.</li>

<li class="padded"><b>Instrument</b> - Learn to fly the helicopter by the
instruments. You will be taught about the complex system in the sky
that helps guide IFR air traffic. You will learn to fly in the event
of adverse weather. *Flying to get your instrument rating is an
effective way to build hours necessary for a commercial rating later
on in your carrier.</li>

<li class="padded"><b>Commercial</b> - Learn the art to commercial
flying and earn the privilege to be paid to fly! Learn from seasoned
CFIs, who have actual experience in the commercial world.</li>

<li class="padded"><b>Initial Certified Flight Instructor</b> - Get
the tools necessary in order to now teach people how to fly
helicopters! Teach others your passion for flying. Master man and
machine. Attaining your certified flight instructor certificate is a
great way to be able to build hours and get paid for it!</li>

<li class="padded"><b>Certified Flight Instructor (Instrument)</b> -
Add the ability to teach pilots to fly in adverse weather. Increase
your knowledge about weather and it's hazards. Getting your
CFI-Instrument rating on top of your current ratings makes you sought
after in the commercial world.</li>
    
<li class="padded"><b>ATP</b> - Brush up on anything you may not have
done in a while and prepare for the checkride.</li>

</ul>

<h1>Equipment</h1>
<br>
<p>
  We offer safe, reliable, and proven aircraft for Flight
  instruction. We fly the Robinson R-44 Raven II. The R-44 is a very
  capable machine that offers affordability compared to other
  aircraft.
</p>

<ul>
  <li class="padded">Our fleet is equipped with air-conditioning to increase your comfort
  level. They are well maintained and cleaned regularly.</li>
  
 <li class="padded">We have the capability to teach traditional instrumentation and new “Glass Panel” instrumentation.</li>
<li class="padded">We are conveniently located near complex SFO airspace and within reasonable distance to Tahoe.</li>
<li class="padded">G500 Glass Panel</li>
<li class="padded">Stability Augmentation System (SAS) baby autopilot</li>
</ul>

{{ end }}

{{ define "colthree" }}
<div id="cbox">
<a href="http://skyvector.com/?ll=37.461111111,-122.115055556&chart=127&zoom=3" target="_"><img class="images" src="/img/terminal.jpg"></a>
</div>
<p>
  
{{ end }}

